<h1> Welcome to another Question Answer website</h1>

<ul>
  {{#each model as |question|}}
     <li>{{question.question}}</li>
     <li>{{question.author}}</li>
     <li>{{question.notes}}</li>
     <br><hr>
  {{/each}}
</ul>
